# Add files here to ignore them from prettier formatting
/dist
/coverage
.angular

build
.github
.nyc_output
.vscode
docs

# Ignore files
TESTING.md
README.md
package.json
package-lock.json
commitlint.config.js
CODE_OF_CONDUCT.md
.eslintrc
.prettierrc
.eslintrc.json

