<footer>
  <div>
    <div style=" background-color: #F1F1F1; ">
      <div style="padding: 100px;">
        <br>
        <p style="text-align: center">At your Service,</p>
        <p style="text-align: center">Team Customer Support @ MyApp.in</p>
        <p style="text-align: center"> Insurance bhi, Assurance bhi!</p>
        <p style="text-align: center">Email: <a style="color: blue;">hello@abc.com</a></p>
        <br>
      </div>
    </div>
  </div>
</footer>